
//========== Buttons ==========//

.button {
    display: inline-block;
    text-align: center;
    background-color: get-color('primary');
    border: 1px solid get-color('primary');
    border-radius: v(border-radius);
    color: get-color('grey-lighter');
    font-family: 'neusa-next-std-wide', sans-serif;
    letter-spacing: 0.2px;
    font-size: v('text-300');
    padding: 0 get-size('600');
    line-height: 2.6875rem;
    transition: background-color v(transition-duration) v(transition-timing);
    @include apply-utility('weight', 'medium');

    &:hover {
        @include apply-utility('bg', 'hover');
        cursor: pointer;
    }
}

.button--secondary {
  @extend .button;
  border-color: get-color('secondary');
  @include apply-utility('color', 'secondary');
  @include apply-utility('bg', 'white');
  transition: background-color v(transition-duration) v(transition-timing),
    color v(transition-duration) v(transition-timing),
    border-color v(transition-duration) v(transition-timing);

  &:hover {
    @include apply-utility('color', 'hover');
    @include apply-utility('bg', 'white');
    border-color: get-color('hover');
  }
}

.button--dark {
  @extend .button;
  border-color: get-color('white');
  width: 176px;

  &:hover {
    @include apply-utility('color', 'hover');
    @include apply-utility('bg', 'white');
    border-color: get-color('hover');
  }
}

.button-wrap {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-query('tablet') {
    flex-direction: row;
  }
}
