
//========== Forms ==========//

.form-control {
  display: block;
  width: 100%;
  padding: get-size('200') get-size('200');
  font-size: v('text-300');
  @include apply-utility('weight', 'regular');
  line-height: get-size('500');
  color: get-color('white');
  @include apply-utility('bg', 'primary');
  background-clip: padding-box;
  border: 1px solid get-color('white');
  appearance: none; // Fix appearance for date inputs in Safari

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  border-radius: v(border-radius);

  // @include box-shadow($input-box-shadow);
  transition: border-color .15s ease-in-out,
    background-color .15s ease-in-out;

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not(:read-only) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: get-color('secondary');
    background-color: get-color('white');
    border-color: get-color('white');
    outline: 0;
    // @if $enable-shadows {
    //   @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    // } @else {
    //   // Avoid using mixin so we can pass custom focus shadow properly
    //   box-shadow: $input-focus-box-shadow;
    // }
  }

  // Add some height to date inputs on iOS
  // https://github.com/twbs/bootstrap/issues/23307
  // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
  &::-webkit-date-and-time-value {
    // Multiply line-height by 1em if it has no unit
    height: if(unit(get-size('500')) == "", get-size('500') * 1em, get-size('500'));
  }

  // Placeholder
  &::placeholder {
    color: get-color('white');
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &:read-only {
    background-color: get-color('grey-light');
    border-color: get-color('grey');
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }

  &:not(:placeholder-shown):invalid {
    @include apply-utility('color', 'secondary');
    background-color: get-color('white');
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.375rem center;
    background-size: calc(1em + .625rem) calc(1em + 0.625rem);

    & ~ label {
      @include apply-utility('color', 'primary');
      @include apply-utility('weight', 'medium');
      opacity: 1 !important;
    }
  }

  &:-webkit-autofill {
    border: 1px solid get-color('white');
    -webkit-text-fill-color: get-color('white');
    -webkit-box-shadow: 0 0 0px 100px get-color('primary') inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:not(input:-webkit-autofill) {
    &::-webkit-contacts-auto-fill-button {
      background-color: get-color('white');
    }

    &:focus {
      &::-webkit-contacts-auto-fill-button {
        background-color: get-color('primary');
      }
    }
  }
}

// Make sure textareas don't shrink too much when resized
// https://github.com/twbs/bootstrap/pull/29124
// stylelint-disable selector-no-qualifying-type
textarea {
  &.form-control {
    min-height: get-size('1200');
  }
}
// stylelint-enable selector-no-qualifying-type

.form-control-color {
  max-width: 3rem;
  height: auto; // Override fixed browser height
  padding: get-size('200');

  &:not(:disabled):not(:read-only) {
    cursor: pointer;
  }

  &::-moz-color-swatch {
    height: if(unit(get-size('500')) == "", get-size('500') * 1em, get-size('500'));
    border-radius: v(border-radius);
  }

  &::-webkit-color-swatch {
    height: if(unit(get-size('500')) == "", get-size('500') * 1em, get-size('500'));
    border-radius: v(border-radius);
  }
}

.form-floating {
  position: relative;

  > .form-control,
  > .form-select {
    height: calc(#{get-size('800')} + 2px);
    padding: 1rem .75rem;
  }

  > .form-control:focus {
    color: get-color('secondary');

    & + label {
      color: get-color('grey-dark');
    }
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; // allow textareas
    padding: 0.625rem .75rem;
    pointer-events: none;
    border: 1px solid transparent; // Required for aligning label's text with the input as it affects inner box model
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,
      transform .1s ease-in-out;
  }

  // stylelint-disable no-duplicate-selectors
  > .form-control {
    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
    }
    // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
    &:-webkit-autofill {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
    }
  }

  > textarea.form-control {
    &::placeholder {
      color: inherit;
    }

    & + label.hidden {
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap;
    }

    &:not(:placeholder-shown) {
      & + label.hidden {
        clip: auto;
        color: get-color('white');
      }
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }

      & + label.hidden {
        clip: auto;
      }

      &:not(:placeholder-shown) {
        & + label.hidden {
          color: #595956;
        }
      }
    }
  }

  > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-select {
    ~ label {
      opacity: 0.65;
      transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }
  }
  // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
  > .form-control:-webkit-autofill {
    ~ label {
      opacity: 0.65;
      @include apply-utility('color', 'white');
      transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }
  }
  // stylelint-enable no-duplicate-selectors
}

.textarea,
.input {
    border: 0;
    border-radius: v(border-radius);
    padding: 0 .5rem;
}

.input {
    height: get-size('800');
}

.textarea {
    height: get-size('1100');

    @media screen and (min-height: 512px) {
      height: 150px;
    }
}

.form {
  max-width: 272px;
  width: 100%;

  @include media-query('tablet') {
    max-width: 370px;

    &.submitted {
      max-width: 404px;
    }
  }

  p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02px;
    text-align: center;
  }

  .lead {
    font-size: 2rem;
    @include apply-utility('font', 'heading');
    letter-spacing: -0.01px;
    padding-bottom: 40px;
  }
}

@include media-query('tablet') {
  .form-floating.mb-300 {
    margin-bottom: 18px;
  }
}

.text-help {
  font-size: 12px;
  line-height: 15px;
  color: #fafafa;
  margin-top: 2px;
  margin-left: 1rem;
}
