
//========== Social icons ==========//

.social-icons {
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .item:first-child,
    .item:nth-child(2) {
      margin-right: get-size('100');
      order: 0;
    }

    .item:nth-child(3),
    .item:nth-child(4) {
      margin-left: get-size('100');
      order: 2;
    }

    &::after {
      content: "";
      flex-grow: 2;
      border-top: 1px solid get-color('primary');
      order: 1;
    }

    .item:last-child {
      .icon {
        width: 27px;
      }
    }

    .icon-link {

        &:hover {
            @include apply-utility('color', 'secondary');
        }
    }

    .icon {
        --social-icon-size: 1.5rem;
        width: v(social-icon-size);
        height: v(social-icon-size);
    }
}

@include media-query('desktop') {
  .social-icons {
    width: 172px;

    &::after {
      content: none;
    }

    .item:nth-child(n) {
      margin-left: 0;
      margin-right: get-size('200');
    }

    .item:first-child {
      margin-right: 0.9375rem;
    }

    .item:nth-child(2) {
      margin-right: 0.53125rem;
    }

    .item:nth-child(-n+3) {
      float: left;
    }

    .item:last-child {
      clear: left;
      line-height: 23px;
      padding-top: 5px;

      svg.icon {
        display: none;
      }

      .icon-link::after {
        content: "hello@fort-west.com";
        white-space: nowrap;
        font-size: v(text-400);
      }
    }
  }
}
