
<footer id="footer" class="footer bg-white">

    <div class="footer-inner inner box-flex pt-400 pb-400">

        <p class="sr-only text-400">© 2021 {{ site.name }}</p>

        {% include 'components/social-icons.njk' %}

    </div>

</footer>
