<nav id="mobile-nav" class="mobile-nav width-full height-screen box-flex bg-primary z-20" aria-label="Mobile">

    {% set navigation = collections.all | eleventyNavigation %}

    <div id="form-wrap" class="nav-wrap width-full bg-primary">

        <ul class="width-full box-flex">

            {# {%- for item in navigation %}

            <li class="item">

                <a href="{{ item.url | url }}" class="link box-block color-white text-600 {{ 'active' if item.url === page.url }}" {{ 'aria-current=page' if item.url === page.url }}>{{ item.title }}</a>

            </li>

            {%- endfor %} #}
            <button class="form-toggle box-flex bg-primary close" aria-expanded="false">
                <span class="mobile-nav-label text-400 sr-only">Close menu</span>

                <span class="mobile-nav-icon box-flex ml-300" aria-hidden="true">
                    <span class="icon-line box-block bg-white"></span>
                    <span class="icon-line box-block bg-white"></span>
                    <span class="icon-line box-block bg-white"></span>
                </span>
            </button>

            <div id="contact" class="form">
              <h2 class="form-title">Let&apos;s connect.</h2>
              <form name="drop-a-line" method="POST" action="/#contact" netlify-honeypot="bot-field" netlify>
                <div class="row form-floating mb-450">
                  <input class="form-control" name="name" type="text" placeholder="Gomez Addams">
                  <label for="name">What&apos;s your name?</label>
                </div>
                <div class="row form-floating mb-450">
                  <input class="form-control" name="email" type="email" placeholder="gomez@addams.family" required>
                  <label for="email">What&apos;s your email?</label>
                </div>
                <div class="row form-floating mb-900">
                  <textarea class="form-control" name="message" placeholder="You know what to do. Give us the essentials, and we&apos;ll get back to you." autocomplete="false"></textarea>
                  <label class="hidden" for="message">Enter your message</label>
                </div>
                <div class="row text-center">
                  <button class="button button--dark" type="submit" onsubmit="HandleSubmit()">Talk soon</button>
                </div>
              </form>
            </div>

            <div class="contact" itemscope itemtype="https://schema.org/Organization">
              <span class="sr-only" itemprop="name">Fort West</span>

              <strong>Contact</strong>
              <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <span itemprop="streetAddress">435 2nd Street</span><br>
                  <span itemprop="addressLocality">Lake Oswego</span>,
                  <span itemprop="addressRegion" title="Oregon">OR</span> <span class="sr-only" itemprop="postalCode">97034</span>
              </address>
            </div>

        </ul>

    </div>

</nav>
