
<nav id="nav" class="nav box-block" aria-label="Primary">

    {% set navigation = collections.all | eleventyNavigation %}

    <ul class="menu mobileXL:box-flex">

        {# {%- for item in navigation %}

            <li class="item">

                <a href="{{ item.url | url }}" class="link box-block color-white text-400 weight-bold pl-300 pr-300 {{ 'active' if item.url === page.url }}" {{ 'aria-current=page' if item.url === page.url }}>{{ item.title }}</a>

            </li>

        {%- endfor %} #}

        <li class="item ml-400"><a href="https://www.linkedin.com/company/fort-west/jobs/" class="link link-get-started color-primary pl-500" target="_blank">Job opportunities</a></li>

    </ul>

</nav>
