
<ul class="social-icons box-flex desktop:box-block">

    {% for icon, link in site.social_links %}

    <li class="item">

        <a href="{{ link | safe }}" class="icon-link box-block color-secondary" target="_blank" rel="noreferrer noopener">

            <span class="sr-only">Find me on {{ icon }}</span>

            <svg class="icon box-block" fill="currentColor" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/icons/icon-library.svg#icon-{{ icon }}"></use>
            </svg>

        </a>

    </li>

    {% endfor %}

</ul>
