@font-face {
    font-family: 'Rektorat Regular';
    src: url('/fonts/nnrektorat-regularre.eot'); /* IE9 Compat Modes */
    src: local('NN Rektorat'), local('NN-Rektorat'),
         url('/fonts/nnrektorat-regularre.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/nnrektorat-regularre.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/nnrektorat-regularre.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/nnrektorat-regularre.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/fonts/nnrektorat-regularre.svg#Font') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
