
//========== Typography ==========//
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// set base font size
body {
    font-size: v(text-500);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// headings
h1,
h2,
h3 {
    @include apply-utility('font', 'heading');
    font-size: v(text-400);
    @include apply-utility('weight', 'regular');
    @include apply-utility('leading', 'tight');
    letter-spacing: 0.125rem;
    text-align: center;
    text-transform: uppercase;

    @include media-query('tablet') {
      font-size: v(text-500);
      letter-spacing: 2.29px;
    }

    @include media-query('desktop') {
      font-size: v(text-500);
      letter-spacing: 2.57px;
    }
}

h1 {
  --gap: 2.375rem;
  margin: 0 0 v(gap);

  @include media-query('tablet') {
    --gap: 4.5rem;
  }

  @supports (margin: 1vh) {
    @media screen and (min-height: 40em) {
      --gap: 5.9375vh;
    }

    @include media-query('tablet') {
      --gap: 7.03125vh;
    }

    @include media-query('desktop') {
      --gap: 9.375vh;
    }
  }
}

h2 {
    // font-size: v(text-800);
}

h3 {
    font-size: v(text-700);
}

.form-title {
  font-size: v(text-800);
  text-transform: none;
  @include apply-utility('weight', 'regular');
  letter-spacing: -0.02px;
  line-height: 1.0625;
  margin-bottom: get-size('1000');

  @include media-query('tablet') {
    margin-bottom: get-size('900');
  }

  @include media-query('desktop') {
    margin-bottom: get-size('1000');
  }
}

.content {
    word-wrap: break-word;
}

.page-title,
.sub-heading {
  color: rgba(89, 89, 86, 0.85);
  line-height: 1.2857;

  @include media-query('tablet') {
    line-height: 1.25;
  }
}

// sub-heading
.sub-heading {
    line-height: 1.5;
}

// lists
ol,
ul {
    padding: 0 0 0 get-size('500');
}

.text-center {
  text-align: center;
}

strong {
  @include apply-utility('weight', 'medium');
}
