
//==========  Footer  ==========//

.footer-inner {
    align-items: center;
    justify-content: space-between;

    @include media-query('desktop') {
      flex-direction: row;
      justify-content: flex-start;
    }

    & > * {
      width: 154px;
    }

    &::after {
      content: "";
      flex-grow: 8;
      border-top: 1px solid get-color('primary');
    }
}
