
//==========  Header  ==========//

// logo
.logo {
    --logo-size: #{get-size('500')};
    font-size: v(logo-size);
    margin: 0;

    &:hover {
        @include apply-utility('color', 'secondary');
    }
}

.header {
  margin-bottom: get-size('400');
}

@include media-query('tablet') {

    .logo {
        --logo-size: #{get-size('600')};
        margin: 0 auto 0 0;

        img {
          width: 55.7333px;
        }
    }

    .header {
      margin-bottom: 6px; // Header + margin = 50px
    }
}

@include media-query('desktop') {

    .logo {
        --logo-size: #{get-size('800')};

        img {
          width: 76px;
        }
    }

    .header {
      margin-bottom: 12px;
    }
}

.header-inner {
    align-items: flex-start;
    justify-content: space-between;
}
