
//==========  Mobile Nav  ==========//

.nav-wrap ul {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  :first-child {
    align-self: flex-end;
  }

  :last-child {
    align-self: flex-start;
  }
}

.mobile-nav {
    --transition-duration: .3s;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    overflow-y: auto;
    align-items: stretch;
    justify-content: end;
    flex-direction: row-reverse;
    font-size: v('text-300');
    @include apply-utility('leading', 'narrow');
    color: get-color('white');
    background-color: rgba(13, 13, 13, 0.35);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transform: translate3d(100%, 0, 0);
    transition: transform v(transition-duration) cubic-bezier(.77, 0, .175, 1);
    transition-delay: .1s;
    will-change: transform;

    // when menu is visible
    &.menu-visible {
        transform: translate3d(0, 0, 0);
    }

    .link {
        --gap: .25rem;
        padding: v(gap) 0;

        &.active,
        &:hover {
            color: get-color('secondary');
        }
    }

    .nav-wrap {
      max-width: 683px;
      padding: get-size('600');

      @include media-query('tablet') {
        padding: 2.125rem;
      }

      @include media-query('desktop') {
        padding: get-size('900');
      }
    }
}

// Mobile menu
.mobile-nav-toggle {
    position: fixed;
    bottom: 0;
    height: get-size('900');
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;

    .mobile-nav-icon {
        flex-direction: column;
    }

    .icon-line {
        --transition-duration: .2s;
        --transition-timing: cubic-bezier(0, 0, .2, 1);
        height: 2px;
        width: get-size('500');
        transform-origin: 7px 1px;
        transition: transform v(transition-duration) v(transition-timing),
                    opacity v(transition-duration) v(transition-timing);

        &:not(:last-child) {
            margin-bottom: .25rem;
        }
    }

    // when menu toggle is clicked
    &.expanded {

        .icon-line {
            margin: 0;

            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}

// Mobile menu
.mobile-nav {
  .form-toggle {
      border: 0;
      outline: none;
      padding: 0;

      .mobile-nav-icon {
          height: 24px;
          padding-top: 8px;
          flex-direction: column;
      }

      .icon-line {
          --transition-duration: .2s;
          --transition-timing: cubic-bezier(0, 0, .2, 1);
          height: 2px;
          width: get-size('600');
          border-radius: 1px;
          transform-origin: 8.9px 1px;
          transition: transform v(transition-duration) v(transition-timing),
                      opacity v(transition-duration) v(transition-timing);

          &:not(:last-child) {
              margin-bottom: .25rem;
          }
      }

      // when menu toggle is clicked
      &.close {

          .icon-line {
              margin: 0;

              &:first-child {
                  transform: rotate(45deg);
              }

              &:nth-child(2) {
                  opacity: 0;
              }

              &:last-child {
                  transform: rotate(-45deg);
              }
          }
      }
  }
}
