
//==========  Nav  ==========//

.nav {

    .link {
        line-height: 2.125rem;
        display: block;
        font-size: v(text-300);

        &.active,
        &:hover {
            @include apply-utility('color', 'hover');
        }

        &-get-started {
          line-height: 14px;
          padding-top: 16px;
            border-radius: v(border-radius);
            letter-spacing: 0.2px;
            @include apply-utility('weight', 'medium');
            transition: background-color v(transition-duration) v(transition-timing);

            @include media-query('tablet') {
              line-height: 18px;
            }

            @include media-query('desktop') {
              padding-top: 24px;
            }

            &:hover {
                @include apply-utility('color', 'hover');
            }
        }
    }
}

@include media-query('tablet') {
  .nav {
    .link {
      font-size: v('text-400');
    }
  }
}
