
//========== Site ==========//
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

// wrapper
.wrapper {
    --transition-duration: 0.3s;
    flex-direction: column;
    transition: var(--transition-duration) transform 0.1s cubic-bezier(0.77, 0, 0.175, 1);
    will-change: transform;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .wrapper {
    min-height: stretch;
    min-height: 100vh;
  }
   /* CSS rules */
}

@include media-query('mobileXL') {

    .wrapper {
        padding-bottom: 0;
    }
}

@include media-query('desktop') {
  .wrapper {
    max-width: 1920px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .ios {
    min-height: calc(100vh - 116px);

    .wrapper {
      min-height: calc(100vh - 116px);
      height: 100%;
    }
  }
}

@supports (padding: 1vh) {
  .pb-1000 {
    padding-bottom: 30px;
  }

  .pt-1000 {
    padding-top: 55px;
  }

  @media screen and (min-height: 40em) {
    .pt-1000 {
      padding-top: 8.59375vh;;
    }
  }

  @include media-query('tablet') {
    .pb-1000 {
      padding-bottom: 4.5rem;
    }

    .pt-1000 {
      padding-top: 11.71875vh;
    }
  }

  @include media-query('desktop') {
    .pt-1000 {
      padding-top: 15.625vh;
    }

    .pb-1000 {
      padding-bottom: 90px;
    }
  }
}
