<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "image": [
        "https://fort-west.com/images/meta/logo-1x1.jpg",
        "https://fort-west.com/images/meta/logo-4x3.jpg",
        "https://fort-west.com/images/meta/logo-16x9.jpg"
       ],
      "@id": "https://fort-west.netlify.app",
      "name": "Fort West Marketing Agency",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "435 2nd Street",
        "addressLocality": "Lake Oswego",
        "addressRegion": "OR",
        "postalCode": "97034",
        "addressCountry": "US"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 45.420058,
        "longitude": -122.664816
      },
      "url": "https://fort-west.com/",
      "telephone": "+15035056381",
      "openingHoursSpecification": [
        {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "17:00"
        }
      ]
    }
    </script>

    {# include main.css if in development mode #}
    {% if helpers.environment === 'development' %}
        <link rel="stylesheet" href="/css/main.css">
    {% else %}
        <link rel="stylesheet" href="/css/main.min.css">
    {% endif %}
    <link rel="preload" href="/fonts/nnrektorat-regularre.woff2" as="font" type="font/woff2" crossorigin>
    <noscript><link rel="stylesheet" href="https://use.typekit.net/ttf0jzt.css"></noscript>

    {# include javascript #}
    <script src="/js/{{ 'main.js' if helpers.environment === 'development' else 'main.min.js' }}" defer></script>

    {# include Google Tag Manager #}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.google_analytics }}');</script>

    {# page meta #}
    <meta name="description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="{{ robots if robots else 'index,follow' }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    {# include social meta tags #}
    {% include "components/social-meta.njk" %}

    {# include favicon, fonts, etc #}
    <link rel="icon" type="image/svg+xml" href="{{ site.images.favicon_svg }}">
    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">
    <link rel="apple-touch-icon" href="{{ site.images.apple_touch_icon }}" sizes="180x180">
</head>


<body id="page-{{ page.fileSlug if page.fileSlug else 'home' }}" class="type-{{ layout | lower }} page-{{ page.fileSlug if page.fileSlug else 'home' }} bg-white color-grey-dark font-base leading-normal preload">
  {# include Google Tag Manager (noscript) #}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_analytics }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <a class="sr-only" href="#main">Skip to content</a>

    <div id="wrapper" class="wrapper box-flex">

        {# include header #}
        {% include "components/header.njk" %}

        {# include content #}
        {{ content | safe }}

        {# include footer #}
        {% include "components/footer.njk" %}

    </div>

    {# include mobile nav #}
    {% include "components/mobile-nav.njk" %}

    <script>
      //Replace this with your mobile Typekit code
      var kit = 'ttf0jzt';
      // Adjust the width threshold
      if( window.innerWidth < 800 ) {
        document.write('\x3Cscript src="//use.typekit.net/'+ kit +'.js" onload="try{Typekit.load();}catch(e){}" async>\x3C/script>');
      } else {
        document.write('\x3Cscript src="//use.typekit.net/'+ kit +'.js">\x3C/script>');
        document.write('\x3Cscript>try{Typekit.load();}catch(e){}\x3C/script>');
      };
    </script>
</body>
</html>
