---
layout: base
---

<main id="main" class="main inner box-flex pt-1000 pb-1000" tabindex="-1">

    <header class="page-header">

        <h1 class="page-title">{{ title }}<br>
          <picture class="box-inline-block mt-800">
            <source
              media="(max-width: 1365px)"
              srcset="/images/meta/logo--vertical-lockup.svg"
              type="image/svg+xml">
            <source
              srcset="/images/meta/logo--horizontal-lockup.svg"
              type="image/svg+xml">

            <img src="/images/meta/header--fallback.jpg" alt="Fort West">
          </picture>
        </h1>

        {% if sub_heading %}

            <h2 class="sub-heading">{{ sub_heading }}</p>

        {% endif %}

    </header>

    <div class="content flow">

        {{ content | safe }}

        <div class="button-wrap box-flex">
          <button class="button button--secondary form-toggle">{{ button_secondary }}</button>
          <a class="button careers-link" href="https://www.linkedin.com/company/fort-west/jobs/" target="_blank">{{ button_primary }}</a>
        </div>

    </div>

</main>
