
//========== Homepage ==========//
.careers-link {
  margin-top: get-size('300');

  @include media-query('tablet') {
    margin-top: 0;
    margin-left: get-size('600');
  }
}

.content {
  .button {
    width: 160px;

    @include media-query('tablet') {
      width: 164px;
    }

    @include media-query('desktop') {
      width: 204px;
    }
  }
}

.page-header {
  picture {
    width: 100%;
    max-width: 304px;

    &.mt-800 {
      margin-top: 2.375rem;

      @media screen and (min-height: 640px) {
        margin-top: 5.9375vh;
      }

      @include media-query('tablet') {
        margin-top: 7.03125vh;
      }

      @include media-query('desktop') {
        margin-top: 9.375vh;
      }
    }

    @include media-query('tablet') {
      max-width: 512px;
    }

    @include media-query('desktop') {
      max-width: 720px;
    }

    img {
      width: 100%;
    }
  }
}
