
//==========  Variables  ==========//

:root {

    // site
    --max-width: 80rem;

    // spacing
    --gap: #{get-size('600')};

    // typography
    --base-font-size: #{$gorko-base-size};
    --ratio: 1;
    --text-100: calc(var(--base-font-size) * 0.75);
    --text-200: calc((var(--base-font-size) * 0.8125) * var(--ratio));
    --text-300: calc((var(--base-font-size) * 0.875) * var(--ratio));
    --text-400: var(--base-font-size);
    --text-500: calc(var(--base-font-size) * 1.125);
    --text-600: calc(var(--base-font-size) * 1.25);
    --text-700: calc(var(--base-font-size) * 1.5);
    --text-800: calc(var(--base-font-size) * 2);
    --text-900: calc(var(--base-font-size) * 2.25);
    --text-1000: calc(var(--base-font-size) * 2.5);
    --text-1100: calc(var(--base-font-size) * 3);

    // borders
    --border-radius: .125rem;
    --border-size: .15rem;

    // transitions
    --transition-duration: .25s;
    --transition-timing: ease-out;
}
